html{
    background-color: rgb(18, 20, 22);
}

*{
    color: rgb(235, 243, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* #side-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid white;
} */

.module{
    border: 3px solid rgb(93, 141, 196);
    width: 17%;
    border-radius: 10px;
    margin: 20px;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

#money-gained {
    background-color: rgb(66, 97, 70);
}

#money-spent {
    background-color: rgb(102, 70, 70);
}

#transactions {
    margin-top: -10%;
    width: 67%;
    margin-left: 25%;
    border: 1px solid rgb(145, 142, 142);
    border-radius: 10px;
    text-align: center;
    height: 700px;
}

button{
    background-color: rgb(28, 28, 68);
    border-radius: 10px;
    margin-top: 15px;
    width: 600px;
    height: 30px;
}

table{
    font-size: 18px;
    width: 100%;
    text-align: center;
    padding: 15px;
}

th {
    background-color: #16573f;
    color: white;
}

th, td {
    border-bottom: 1px solid #62676e;
}

tr:nth-child(even) {background-color: rgb(35, 41, 61);}
tr:hover {background-color: rgb(160, 81, 28);}

input, select{
    background-color: #62676e;
    border-radius: 5px;
}