html{
    background-color: rgb(18, 20, 22);
}

*{
    color: rgb(235, 243, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.module{
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.module:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#greeting {
    text-align: left;
    margin-left: 20px;
}

h1, h2{
    text-align: center;
}

.amounts{
    font-size: 40px;
}

#money-total {
    background-color: #16573f;
}

#money-gained {
    background-color: rgb(66, 97, 70);
}

#money-spent {
    background-color: rgb(102, 70, 70);
}

#budget-remaining {
    background-color: #16573f;
}

#transactions {
    overflow-x: auto;
    margin-top: -10%;
    width: 67%;
    margin-left: 500px;
    text-align: center;
    height: 700px;
}

button{
    background-color: rgb(44, 44, 54);
    border-radius: 10px;
    height: 30px;
}

#add-transaction {
    margin-top: 15px;
    width: 600px;
}

.transaction-input {
    background-color: rgb(44, 44, 54);
    border-radius: 10px;
    height: 30px;
    margin: 10px;
    margin-top: 20px;
    font-size: 15px;
}

#transaction-desc {
    width: 300px;
}

#transaction-category {
    height: 37px;
    width: 170px;
}

#transaction-day {
    width: 50px;
}

#transaction-price{
    width: 100px;
}

.transaction-input-block{
    display: inline;
    margin: 10px;
}

table{
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: separate;
    border: 3px solid rgb(18, 20, 22);
    border-radius: 10px;
}

th {
    background-color: #16573f;
    color: white;
}

th, td {
    border-bottom: 1px solid #62676e;
    padding-top: 10px;
    padding-bottom: 10px;    
}

tr:nth-child(even) {background-color: rgb(35, 41, 61);}
tr:hover {background-color: rgb(15, 53, 50);}

input, select{
    background-color: #62676e;
    border-radius: 5px;
    height: 25px;
}

select {
    height: 30px;
}

#table-month{
    margin-top: -35%;
    width: 67%;
    margin-left: 25%;
    text-align: center;
    height: 250px;
    font-size: 75px;
    font-family: 'Times New Roman', sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: rgb(35, 40, 46);
    margin-bottom: 16px;
}

.logo{
    color:white;
    font-size: 20px;
    align-self: center;
}

.navbar-menu{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    align-items: center;
    height: 40px;
}

.navbar-menu li a{
    text-decoration: none;
    color: white
}

.navbar-menu li:hover {
    /* background-color: rgb(63, 71, 80); */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#change-budget {
    width: 320px;
    margin-left: 20px;
    padding: 10px;
    height: 50px;
    font-size: 20px;
    background-color: #133a2c;
}

.grid {
    margin-left: 500px;
    margin-top: -250px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 300px;
    gap: 2rem;
}

.item {
    background-color: rgb(18, 43, 66);
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:hover, .item:focus, .item:active{
    background-color: rgb(32, 56, 78);
    box-shadow:  0 10px 10px -10px rgba(214, 206, 206, 0.6);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#add-more {
    font-size: 80px;
}
